docs/bysquare.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
        xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.bysquare.com/bysquare"
        xmlns:bsqr="http://www.bysquare.com/bysquare"
        elementFormDefault="qualified">
    <!-- Atribúty rozširujúce funkčnost by square schémy. -->
    <attribute
            name="priority"
            type="integer">
        <annotation>
            <documentation>Priorita pre skracovanie ak celková dĺžka výstupného reťazca je väčšia
                ako odporúčaná maximálna dĺžka definovaná pre konkrétny by square typ. Polia s
                číselne nižšou prioritou sú skracované najskôr.</documentation>
        </annotation>
    </attribute>
    <attribute
            name="maxLength"
            type="integer">
        <annotation>
            <documentation>Odporúčaná maximálna dĺžka poľa vo výstupnom reťazci (sekvencii). Používa
                sa pri skracovaní, kedy celková dĺžka výstupného reťazca (sekvencie) je väčšia ako
                odporúčaná maximálna dĺžka definovaná pre konkrétny typ dokumentu.</documentation>
        </annotation>
    </attribute>
    <attribute
            name="computed"
            type="boolean"
            default="false">
        <annotation>
            <documentation>Ak je true, vybrané pole nie je súčasťou výstupného reťazca (sekvencie).
                Pre elementy and atribúty.</documentation>
        </annotation>
    </attribute>
    <attribute
            name="order"
            type="integer"
            default="0">
        <annotation>
            <documentation>Pozícia poľa vo výstupnom reťazci (sekvencii). Rekurzívne pre komplexné
                typy. Pre elementy, atribúty, skupiny, skupiny atribútov a rozšírenia.</documentation>
        </annotation>
    </attribute>
    <attribute
            name="bysquareType"
            type="integer">
        <annotation>
            <documentation>Kódové číslo by square typu. Len pre koreňové elementy.</documentation>
        </annotation>
    </attribute>
    <attribute
            name="version"
            type="integer">
        <annotation>
            <documentation>Verzia by square typu. Len pre koreňové elementy.</documentation>
        </annotation>
    </attribute>
    <attribute
            name="documentType"
            type="integer">
        <annotation>
            <documentation>Kódové číslo typu dokumentu. Pre elementy.</documentation>
        </annotation>
    </attribute>
    <!-- BYSQUARE TYPES -->
    <complexType
            name="BySquareDocument"
            abstract="true">
        <annotation>
            <documentation>Abstraktný rodičovský typ pre všetky by square XML dokumenty.</documentation>
        </annotation>
    </complexType>
    <element
            name="Pay"
            type="bsqr:PayBase"
            bsqr:bysquareType="0"
            bsqr:version="0">
        <annotation>
            <documentation>Dokument platobného QR kódu podľa štandardu by square.</documentation>
        </annotation>
    </element>
    <element
            name="Invoice"
            type="bsqr:InvoiceBase"
            bsqr:bysquareType="1"
            bsqr:version="0">
        <annotation>
            <documentation>Dokument QR kódu faktúry podľa štandardu by square.</documentation>
        </annotation>
    </element>
    <element
            name="InvoiceItems"
            type="bsqr:InvoiceItemsBase"
            bsqr:bysquareType="2"
            bsqr:version="0">
        <annotation>
            <documentation>Dokument QR kódu položiek faktúry podľa štandardu by square.</documentation>
        </annotation>
    </element>
    <!-- DOCUMENT TYPES -->
    <!-- PAY -->
    <complexType
            name="Pay"
            bsqr:documentType="0">
        <annotation>
            <documentation>Hlavný typ pre všetky by square XML platobné QR kódy.</documentation>
        </annotation>
        <complexContent>
            <extension
                    base="bsqr:PayBase"
                    bsqr:order="1" />
        </complexContent>
    </complexType>
    <!-- INVOICE ITEMS -->
    <complexType
            name="InvoiceItems"
            bsqr:documentType="0">
        <annotation>
            <documentation>Hlavný typ pre všetky by square XML zoznamy položiek faktúry.</documentation>
        </annotation>
        <complexContent>
            <extension base="bsqr:InvoiceItemsBase" />
        </complexContent>
    </complexType>
    <!-- INVOICE -->
    <complexType
            name="Invoice"
            bsqr:documentType="0">
        <annotation>
            <documentation>Dokument QR kódu faktúry podľa štandardu by square, typ: faktúra.</documentation>
        </annotation>
        <complexContent>
            <extension base="bsqr:InvoiceBase" />
        </complexContent>
    </complexType>
    <complexType
            name="ProformaInvoice"
            bsqr:documentType="1">
        <annotation>
            <documentation>Dokument QR kódu faktúry podľa štandardu by square, typ: proforma
                faktúra.</documentation>
        </annotation>
        <complexContent>
            <extension base="bsqr:InvoiceBase" />
        </complexContent>
    </complexType>
    <complexType
            name="CreditNote"
            bsqr:documentType="2">
        <annotation>
            <documentation>Dokument QR kódu faktúry podľa štandardu by square, typ: dobropis.</documentation>
        </annotation>
        <complexContent>
            <extension base="bsqr:InvoiceBase" />
        </complexContent>
    </complexType>
    <complexType
            name="DebitNote"
            bsqr:documentType="3">
        <annotation>
            <documentation>Dokument QR kódu faktúry podľa štandardu by square, typ: ťarchopis.</documentation>
        </annotation>
        <complexContent>
            <extension base="bsqr:InvoiceBase" />
        </complexContent>
    </complexType>
    <complexType
            name="AdvanceInvoice"
            bsqr:documentType="4">
        <annotation>
            <documentation>Dokument QR kódu faktúry podľa štandardu by square, typ: zálohová
                faktúra.</documentation>
        </annotation>
        <complexContent>
            <extension base="bsqr:InvoiceBase" />
        </complexContent>
    </complexType>
    <!-- COMMON TYPES -->
    <simpleType name="CurrencyCode">
        <annotation>
            <documentation>Mena v ISO 4217 formáte (3 písmená). Príklad: "EUR".</documentation>
        </annotation>
        <restriction base="string">
            <pattern value="[A-Z]{3}" />
        </restriction>
    </simpleType>
    <simpleType name="CountryCode">
        <annotation>
            <documentation>Krajina v ISO 3166 formáte (3 písmená skratka). Príklad: SVK</documentation>
        </annotation>
        <restriction base="string">
            <pattern value="[A-Z]{3}" />
        </restriction>
    </simpleType>
    <simpleType name="Percentage">
        <annotation>
            <documentation>Percentuálna hodnota vyjadrená v normovanom tvare. Príklad: 0% sa uvádza
                ako "0". 1% sa uvádza ako "0.01". 10% sa uvádza ako "0.1". 50% sa uvádza ako "0.5".
                100% sa uvádza ako "1".</documentation>
        </annotation>
        <restriction base="decimal">
            <minInclusive value="0" />
            <maxInclusive value="1" />
        </restriction>
    </simpleType>
    <!-- PAY BY SQUARE -->
    <complexType
            name="PayBase"
            abstract="true">
        <annotation>
            <documentation>Abstraktný rodičovský typ pre všetky by square XML platobné QR kódy.</documentation>
        </annotation>
        <complexContent>
            <extension base="bsqr:BySquareDocument">
                <sequence>
                    <element
                            name="InvoiceID"
                            type="string"
                            minOccurs="0"
                            bsqr:maxLength="10"
                            bsqr:priority="2"
                            bsqr:order="1">
                        <annotation>
                            <documentation>Číslo faktúry v prípade, že údaje sú súčasťou faktúry,
                                alebo identifikátor pre intérne potreby vystavovateľa.</documentation>
                        </annotation>
                    </element>
                    <element
                            name="Payments"
                            type="bsqr:Payments"
                            bsqr:order="2">
                        <annotation>
                            <documentation>Zoznam jednej alebo viacerých platieb v prípade
                                hromadného príkazu. Hlavná (preferovaná) platba sa uvádza ako prvá.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Payments">
        <annotation>
            <documentation>Zoznam platieb.</documentation>
        </annotation>
        <sequence>
            <element
                    name="Payment"
                    type="bsqr:Payment"
                    maxOccurs="unbounded"
                    bsqr:order="1">
                <annotation>
                    <documentation>Údaje pre jeden platobný príkaz.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="Payment">
        <annotation>
            <documentation>Údaje pre platobný príkaz.</documentation>
        </annotation>
        <sequence>
            <element
                    name="PaymentOptions"
                    type="bsqr:PaymentOptions"
                    bsqr:maxLength="1"
                    bsqr:priority="999"
                    bsqr:order="1">
                <annotation>
                    <documentation>Možnosti platby sa dajú kombinovať. Oddeľujú sa medzerou a treba
                        uviesť vždy aspoň jednu z možností. paymentorder - platobný príkaz
                        standingorder - trvalý príkaz, údaje sa vyplnia do StandingOrderExt
                        directdebit - inkaso, údaje sa vyplnia do DirectDebitExt</documentation>
                </annotation>
            </element>
            <element
                    name="Amount"
                    type="decimal"
                    minOccurs="0"
                    bsqr:maxLength="15"
                    bsqr:priority="999"
                    bsqr:order="2">
                <annotation>
                    <documentation>Čiastka platby. Povolené sú len kladné hodnoty. Desatinná čast je
                        oddelená bodkou. Môže ostať nevyplnené, napríklad pre dobrovoľný príspevok
                        (donations). Príklad: Tisíc sa uvádza ako "1000". Jedna celá
                        deväťdesiatdeväť sa uvádza ako "1.99". Desať celých peťdesiat sa uvádza ako
                        "10.5". Nula celá nula osem sa uvádza ako "0.08".</documentation>
                </annotation>
            </element>
            <element
                    name="CurrencyCode"
                    type="bsqr:CurrencyCode"
                    bsqr:maxLength="3"
                    bsqr:priority="999"
                    bsqr:order="3">
                <annotation>
                    <documentation>Mena platby v ISO 4217 formáte (3 písmená skratka). Príklad:
                        "EUR".</documentation>
                </annotation>
            </element>
            <element
                    name="PaymentDueDate"
                    type="date"
                    minOccurs="0"
                    bsqr:maxLength="8"
                    bsqr:priority="999"
                    bsqr:order="4">
                <annotation>
                    <documentation>Dátum splatnosti vo formáte ISO 8601 "RRRR-MM-DD". Nepovinný
                        údaj. V prípade trvalého príkazu označuje dátum prvej platby.</documentation>
                </annotation>
            </element>
            <choice minOccurs="0">
                <sequence>
                    <element
                            name="VariableSymbol"
                            type="bsqr:VariableSymbol"
                            minOccurs="0"
                            bsqr:maxLength="10"
                            bsqr:priority="7"
                            bsqr:order="5">
                        <annotation>
                            <documentation>Variabilný symbol je maximálne 10 miestne číslo.
                                Nepovinný údaj.</documentation>
                        </annotation>
                    </element>
                    <element
                            name="ConstantSymbol"
                            type="bsqr:ConstantSymbol"
                            minOccurs="0"
                            bsqr:maxLength="4"
                            bsqr:priority="5"
                            bsqr:order="6">
                        <annotation>
                            <documentation>Konštantný symbol je 4 miestne identifikačné číslo.
                                Nepovinný údaj.</documentation>
                        </annotation>
                    </element>
                    <element
                            name="SpecificSymbol"
                            type="bsqr:SpecificSymbol"
                            minOccurs="0"
                            bsqr:maxLength="10"
                            bsqr:priority="6"
                            bsqr:order="7">
                        <annotation>
                            <documentation>Špecifický symbol je maximálne 10 miestne číslo.
                                Nepovinný údaj.</documentation>
                        </annotation>
                    </element>
                </sequence>
                <element
                        name="OriginatorsReferenceInformation"
                        type="string"
                        minOccurs="0"
                        bsqr:maxLength="35"
                        bsqr:priority="12"
                        bsqr:order="8">
                    <annotation>
                        <documentation>Referenčná informácia prijímateľa podľa SEPA.</documentation>
                    </annotation>
                </element>
            </choice>
            <element
                    name="PaymentNote"
                    type="string"
                    minOccurs="0"
                    bsqr:maxLength="140"
                    bsqr:priority="1"
                    bsqr:order="9">
                <annotation>
                    <documentation>Správa pre prijímateľa. Údaje o platbe, na základe ktorých
                        príjemca bude môcť platbu identifikovať. Odporúča sa maximálne 140 Unicode
                        znakov.</documentation>
                </annotation>
            </element>
            <element
                    name="BankAccounts"
                    type="bsqr:BankAccounts"
                    bsqr:order="10">
                <annotation>
                    <documentation>Zoznam bankových účtov.</documentation>
                </annotation>
            </element>
            <element
                    name="StandingOrderExt"
                    type="bsqr:StandingOrderExt"
                    minOccurs="0"
                    bsqr:order="11">
                <annotation>
                    <documentation>Rozšírenie platobných údajov o údaje pre nastavenie trvalého
                        príkazu.</documentation>
                </annotation>
            </element>
            <element
                    name="DirectDebitExt"
                    type="bsqr:DirectDebitExt"
                    minOccurs="0"
                    bsqr:order="12">
                <annotation>
                    <documentation>Rozšírenie platobných údajov o údaje pre nastavenie a
                        identifikáciu inkasa.</documentation>
                </annotation>
            </element>
            <element
                    name="BeneficiaryName"
                    type="string"
                    minOccurs="0"
                    bsqr:maxLength="140"
                    bsqr:priority="999"
                    bsqr:order="13">
                <annotation>
                    <documentation>Rozšírenie o meno príjemcu</documentation>
                </annotation>
            </element>
            <element
                    name="BeneficiaryAddressLine1"
                    type="string"
                    minOccurs="0"
                    bsqr:maxLength="70"
                    bsqr:priority="999"
                    bsqr:order="14">
                <annotation>
                    <documentation>Rozšírenie o adresu príjemcu</documentation>
                </annotation>
            </element>
            <element
                    name="BeneficiaryAddressLine2"
                    type="string"
                    minOccurs="0"
                    bsqr:maxLength="70"
                    bsqr:priority="999"
                    bsqr:order="15">
                <annotation>
                    <documentation>Rozšírenie o adresu príjemcu (druhý riadok)</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <simpleType name="PaymentOptions">
        <annotation>
            <documentation>Možnosti platby sa dajú kombinovať. Oddeľujú sa medzerou a treba uviesť
                vždy aspoň jednu z možností. paymentorder - platobný príkaz standingorder - trvalý
                príkaz, údaje sa vyplnia do StandingOrderExt directdebit - inkaso, údaje sa vyplnia
                do DirectDebitExt</documentation>
        </annotation>
        <list itemType="bsqr:PaymentOption" />
    </simpleType>
    <simpleType name="PaymentOption">
        <annotation>
            <documentation>Možnosť platby.</documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="paymentorder">
                <annotation>
                    <appinfo>1</appinfo>
                </annotation>
            </enumeration>
            <enumeration value="standingorder">
                <annotation>
                    <appinfo>2</appinfo>
                </annotation>
            </enumeration>
            <enumeration value="directdebit">
                <annotation>
                    <appinfo>4</appinfo>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="VariableSymbol">
        <annotation>
            <documentation>Variabilný symbol je maximálne 10 miestne číslo.</documentation>
        </annotation>
        <restriction base="string">
            <pattern value="[0-9]{0,10}" />
        </restriction>
    </simpleType>
    <simpleType name="ConstantSymbol">
        <annotation>
            <documentation>Konštantný symbol je 4 miestne identifikačné číslo.</documentation>
        </annotation>
        <restriction base="string">
            <pattern value="[0-9]{0,4}" />
        </restriction>
    </simpleType>
    <simpleType name="SpecificSymbol">
        <annotation>
            <documentation>Špecifický symbol je maximálne 10 miestne číslo.</documentation>
        </annotation>
        <restriction base="string">
            <pattern value="[0-9]{0,10}" />
        </restriction>
    </simpleType>
    <complexType name="BankAccounts">
        <annotation>
            <documentation>Zoznam bankových účtov.</documentation>
        </annotation>
        <sequence>
            <annotation>
                <documentation>list of bank accounts</documentation>
            </annotation>
            <element
                    name="BankAccount"
                    type="bsqr:BankAccount"
                    maxOccurs="unbounded"
                    bsqr:order="1">
                <annotation>
                    <documentation>Údaje bankového účtu prijímateľa platby.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="BankAccount">
        <annotation>
            <documentation>Bankvý účet v medzinárodnom formáte.</documentation>
        </annotation>
        <sequence>
            <element
                    name="IBAN"
                    type="bsqr:IBAN"
                    bsqr:maxLength="34"
                    bsqr:priority="999"
                    bsqr:order="1">
                <annotation>
                    <documentation>
                        Medzinárodné číslo bankového účtu vo formáte IBAN. Príklad:
                        "SK8209000000000011424060". Viac na
                        http://www.sbaonline.sk/sk/projekty/financne-vzdelavanie/slovnik-bankovych-pojmov/iii/.</documentation>
                </annotation>
            </element>
            <element
                    name="BIC"
                    type="bsqr:BIC"
                    bsqr:maxLength="11"
                    bsqr:priority="999"
                    bsqr:order="2"
                    minOccurs="0">
                <annotation>
                    <documentation>
                        Medzinárodný bankový identifikačný kód (z ang. Bank
                        Identification Code). Viac na
                        http://www.sbaonline.sk/sk/projekty/financne-vzdelavanie/slovnik-bankovych-pojmov/bbb/bic.html.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <simpleType name="IBAN">
        <annotation>
            <documentation>
                Medzinárodné číslo bankového účtu vo formáte IBAN. Príklad:
                &quot;SK8209000000000011424060&quot;. Viac na
                http://www.sbaonline.sk/sk/projekty/financne-vzdelavanie/slovnik-bankovych-pojmov/iii/.</documentation>
        </annotation>
        <restriction base="string">
            <pattern value="[A-Z]{2}[0-9]{2}[A-Z0-9]{0,30}" />
        </restriction>
    </simpleType>
    <simpleType name="BIC">
        <annotation>
            <documentation>
                Medzinárodný bankový identifikačný kód (z ang. Bank Identification Code).
                Viac na
                http://www.sbaonline.sk/sk/projekty/financne-vzdelavanie/slovnik-bankovych-pojmov/bbb/bic.html.</documentation>
        </annotation>
        <restriction base="string">
            <pattern value="[A-Z]{4}[A-Z]{2}[A-Z\d]{2}([A-Z\d]{3})?" />
        </restriction>
    </simpleType>
    <complexType name="StandingOrderExt">
        <annotation>
            <documentation>Rozšírenie platobných údajov o údaje pre nastavenie trvalého príkazu.</documentation>
        </annotation>
        <sequence>
            <element
                    name="Day"
                    type="integer"
                    minOccurs="0"
                    bsqr:maxLength="2"
                    bsqr:priority="999"
                    bsqr:order="1">
                <annotation>
                    <documentation>Deň platby vyplývajúci z opakovania (Periodicity). Deň v mesiaci
                        je číslo medzi 1 a 31. Deň v týždni je číslo medzi 1 a 7 (1 = pondelok, 2
                        =utorok, …, 7 = nedeľa).</documentation>
                </annotation>
            </element>
            <element
                    name="Month"
                    type="bsqr:MultipleMonths"
                    minOccurs="0"
                    bsqr:maxLength="4"
                    bsqr:priority="999"
                    bsqr:order="2">
                <annotation>
                    <documentation>Medzerou oddelený zoznam mesiacov, v ktoré sa má platba
                        uskutočniť.</documentation>
                </annotation>
            </element>
            <element
                    name="Periodicity"
                    type="bsqr:Periodicity"
                    bsqr:maxLength="1"
                    bsqr:priority="999"
                    bsqr:order="3">
                <annotation>
                    <documentation>Opakovanie (periodicita) trvalého príkazu.</documentation>
                </annotation>
            </element>
            <element
                    name="LastDate"
                    type="date"
                    minOccurs="0"
                    bsqr:maxLength="8"
                    bsqr:priority="999"
                    bsqr:order="4">
                <annotation>
                    <documentation>Dátum poslednej platby v trvalom príkaze.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="DirectDebitExt">
        <annotation>
            <documentation>Rozšírenie platobných údajov o údaje pre nastavenie a identifikáciu
                inkasa.</documentation>
        </annotation>
        <sequence>
            <element
                    name="DirectDebitScheme"
                    type="bsqr:DirectDebitScheme"
                    bsqr:maxLength="1"
                    bsqr:priority="999"
                    bsqr:order="1">
                <annotation>
                    <documentation>Inksaná schéma. Uvádza ja jedna z možností: SEPA - Inkaso
                        zodpovedá schéme SEPA. other - iné</documentation>
                </annotation>
            </element>
            <element
                    name="DirectDebitType"
                    type="bsqr:DirectDebitType"
                    bsqr:maxLength="1"
                    bsqr:priority="999"
                    bsqr:order="2">
                <annotation>
                    <documentation>Typ inkasa. Uvádza ja jedna z možností: one-off - jednorázové
                        inkaso recurrent - opakované inkaso</documentation>
                </annotation>
            </element>
            <choice minOccurs="0">
                <sequence>
                    <element
                            name="VariableSymbol"
                            type="bsqr:VariableSymbol"
                            minOccurs="0"
                            bsqr:maxLength="10"
                            bsqr:priority="4"
                            bsqr:order="3">
                        <annotation>
                            <documentation>Variabilný symbol. Vypĺňa sa len v prípade, ak sa
                                odlišuje od variabilného symbolu v platobnom príkaze.</documentation>
                        </annotation>
                    </element>
                    <element
                            name="SpecificSymbol"
                            type="bsqr:SpecificSymbol"
                            minOccurs="0"
                            bsqr:maxLength="10"
                            bsqr:priority="3"
                            bsqr:order="4">
                        <annotation>
                            <documentation>Špecifický symbol. Vypĺňa sa len v prípade, ak sa
                                odlišuje od špecifického symbolu v platobnom príkaze.</documentation>
                        </annotation>
                    </element>
                </sequence>
                <element
                        name="OriginatorsReferenceInformation"
                        type="string"
                        minOccurs="0"
                        bsqr:maxLength="35"
                        bsqr:priority="11"
                        bsqr:order="5">
                    <annotation>
                        <documentation>Referenčná informácia. Použije sa len na prechodné obdobie z
                            variabilného a špecifického symbolu na SEPA inkaso.</documentation>
                    </annotation>
                </element>
                <sequence>
                    <element
                            name="MandateID"
                            type="string"
                            bsqr:maxLength="35"
                            bsqr:priority="10"
                            bsqr:order="6">
                        <annotation>
                            <documentation>Identifikácia mandátu medzi veriteľom a dlžníkom podľa
                                SEPA.</documentation>
                        </annotation>
                    </element>
                    <element
                            name="CreditorID"
                            type="string"
                            bsqr:maxLength="35"
                            bsqr:priority="9"
                            bsqr:order="7">
                        <annotation>
                            <documentation>Identifikácia veriteľa podľa SEPA.</documentation>
                        </annotation>
                    </element>
                    <element
                            name="ContractID"
                            type="string"
                            minOccurs="0"
                            bsqr:maxLength="35"
                            bsqr:priority="8"
                            bsqr:order="8">
                        <annotation>
                            <documentation>Identifikácia zmluvy medzi veriteľom a dlžníkom podľa
                                SEPA.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </choice>
            <element
                    name="MaxAmount"
                    type="decimal"
                    minOccurs="0"
                    bsqr:maxLength="15"
                    bsqr:priority="999"
                    bsqr:order="9">
                <annotation>
                    <documentation>Maximálna čiastka inkasa.</documentation>
                </annotation>
            </element>
            <element
                    name="ValidTillDate"
                    type="date"
                    minOccurs="0"
                    bsqr:maxLength="8"
                    bsqr:priority="999"
                    bsqr:order="10">
                <annotation>
                    <documentation>Dátum platnosti inkasa. Platnosť inkasa zaníka dňom tohto dátumu.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <simpleType name="DirectDebitScheme">
        <annotation>
            <documentation>Inksaná schéma. SEPA - Inkaso zodpovedá schéme SEPA. other - iné</documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="other">
                <annotation>
                    <appinfo>0</appinfo>
                </annotation>
            </enumeration>
            <enumeration value="SEPA">
                <annotation>
                    <appinfo>1</appinfo>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="DirectDebitType">
        <annotation>
            <documentation>Typ inkasa. one-off - jednorázové inkaso recurrent - opakované inkaso</documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="one-off">
                <annotation>
                    <appinfo>0</appinfo>
                </annotation>
            </enumeration>
            <enumeration value="recurrent">
                <annotation>
                    <appinfo>1</appinfo>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="PaymentMean">
        <annotation>
            <documentation>Forma úhrady.</documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="moneyTransfer">
                <annotation>
                    <appinfo>1</appinfo>
                </annotation>
            </enumeration>
            <enumeration value="cash">
                <annotation>
                    <appinfo>2</appinfo>
                </annotation>
            </enumeration>
            <enumeration value="cashOnDelivery">
                <annotation>
                    <appinfo>4</appinfo>
                </annotation>
            </enumeration>
            <enumeration value="creditCard">
                <annotation>
                    <appinfo>8</appinfo>
                </annotation>
            </enumeration>
            <enumeration value="advance">
                <annotation>
                    <appinfo>16</appinfo>
                </annotation>
            </enumeration>
            <enumeration value="mutualOffset">
                <annotation>
                    <appinfo>32</appinfo>
                </annotation>
            </enumeration>
            <enumeration value="other">
                <annotation>
                    <appinfo>64</appinfo>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="PaymentMeans">
        <annotation>
            <documentation>Medzerou oddelený zoznam foriem úhrady.</documentation>
        </annotation>
        <list itemType="bsqr:PaymentMean" />
    </simpleType>
    <simpleType name="Periodicity">
        <annotation>
            <documentation>Opakovanie (periodicita).</documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="Daily">
                <annotation>
                    <appinfo>d</appinfo>
                </annotation>
            </enumeration>
            <enumeration value="Weekly">
                <annotation>
                    <appinfo>w</appinfo>
                </annotation>
            </enumeration>
            <enumeration value="Biweekly">
                <annotation>
                    <appinfo>b</appinfo>
                </annotation>
            </enumeration>
            <enumeration value="Monthly">
                <annotation>
                    <appinfo>m</appinfo>
                </annotation>
            </enumeration>
            <enumeration value="Bimonthly">
                <annotation>
                    <appinfo>B</appinfo>
                </annotation>
            </enumeration>
            <enumeration value="Quarterly">
                <annotation>
                    <appinfo>q</appinfo>
                </annotation>
            </enumeration>
            <enumeration value="Annually">
                <annotation>
                    <appinfo>a</appinfo>
                </annotation>
            </enumeration>
            <enumeration value="Semiannually">
                <annotation>
                    <appinfo>s</appinfo>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="Month">
        <annotation>
            <documentation>Kalendárny mesiac.</documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="January">
                <annotation>
                    <appinfo>1</appinfo>
                </annotation>
            </enumeration>
            <enumeration value="February">
                <annotation>
                    <appinfo>2</appinfo>
                </annotation>
            </enumeration>
            <enumeration value="March">
                <annotation>
                    <appinfo>4</appinfo>
                </annotation>
            </enumeration>
            <enumeration value="April">
                <annotation>
                    <appinfo>8</appinfo>
                </annotation>
            </enumeration>
            <enumeration value="May">
                <annotation>
                    <appinfo>16</appinfo>
                </annotation>
            </enumeration>
            <enumeration value="June">
                <annotation>
                    <appinfo>32</appinfo>
                </annotation>
            </enumeration>
            <enumeration value="July">
                <annotation>
                    <appinfo>64</appinfo>
                </annotation>
            </enumeration>
            <enumeration value="August">
                <annotation>
                    <appinfo>128</appinfo>
                </annotation>
            </enumeration>
            <enumeration value="September">
                <annotation>
                    <appinfo>256</appinfo>
                </annotation>
            </enumeration>
            <enumeration value="October">
                <annotation>
                    <appinfo>512</appinfo>
                </annotation>
            </enumeration>
            <enumeration value="November">
                <annotation>
                    <appinfo>1024</appinfo>
                </annotation>
            </enumeration>
            <enumeration value="December">
                <annotation>
                    <appinfo>2048</appinfo>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="MultipleMonths">
        <annotation>
            <documentation>Medzerou oddelený zoznam mesiacov.</documentation>
        </annotation>
        <list itemType="bsqr:Month" />
    </simpleType>
    <!-- INVOICE ITEMS BY SQUARE -->
    <complexType
            name="InvoiceItemsBase"
            abstract="true">
        <annotation>
            <documentation>Abstraktný rodičovský typ pre všetky by square XML zoznamy položiek
                faktúry.</documentation>
        </annotation>
        <complexContent>
            <extension base="bsqr:BySquareDocument">
                <sequence>
                    <element
                            name="InvoiceID"
                            type="string"
                            bsqr:maxLength="10"
                            bsqr:priority="8"
                            bsqr:order="1">
                        <annotation>
                            <documentation>Číslo faktúry, spája položky s faktúrou v rámci účtovného
                                systému spoločnosti.</documentation>
                        </annotation>
                    </element>
                    <element
                            name="FirstInvoiceLineID"
                            type="string"
                            bsqr:maxLength="10"
                            bsqr:priority="7"
                            bsqr:order="2">
                        <annotation>
                            <documentation>Poradové číslo (identifikátor) prvej položky v tomto
                                zozname položiek. Odporúča sa indexovať poradové čísla položiek od
                                jednotky (1). Poradové číslo (alebo ID) ďalších položiek sa určuje
                                inkrementálne, t.j. ďalšie položky majú ID 2, 3, 4, ..., 9, 10, 11,
                                ..., 99, 100, 101, ...</documentation>
                        </annotation>
                    </element>
                    <element
                            name="InvoiceLines"
                            type="bsqr:InvoiceLines"
                            bsqr:order="3">
                        <annotation>
                            <documentation>Zoznam jednotlivých riadkov (položiek) faktúry.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="InvoiceLines">
        <annotation>
            <documentation>Zoznam jednotlivých riadkov (položiek) faktúry.</documentation>
        </annotation>
        <sequence>
            <annotation>
                <documentation>multiple invoice lines</documentation>
            </annotation>
            <element
                    name="InvoiceLine"
                    type="bsqr:InvoiceLine"
                    maxOccurs="unbounded"
                    bsqr:order="1">
                <annotation>
                    <documentation>Jeden riadok (položka) faktúry.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="InvoiceLine">
        <annotation>
            <documentation>Údaje pre jeden riadok (položku) faktúry.</documentation>
        </annotation>
        <sequence>
            <element
                    name="OrderReference"
                    type="bsqr:OrderReference"
                    minOccurs="0"
                    bsqr:order="1">
                <annotation>
                    <documentation>Identifikácia objednávky tohto riadka (položky).</documentation>
                </annotation>
            </element>
            <element
                    name="DeliveryNoteReference"
                    type="bsqr:DeliveryNoteReference"
                    minOccurs="0"
                    bsqr:order="2">
                <annotation>
                    <documentation>Identifikácia dodacieho listu tohto riadka (položky).</documentation>
                </annotation>
            </element>
            <choice>
                <element
                        name="ItemName"
                        type="string"
                        bsqr:maxLength="30"
                        bsqr:priority="5"
                        bsqr:order="3">
                    <annotation>
                        <documentation>Názov a popis položky. Môže slúžiť aj na uloženie
                            štrukturovanej informácie o položke.</documentation>
                    </annotation>
                </element>
                <element
                        name="ItemEANCode"
                        type="string"
                        bsqr:maxLength="30"
                        bsqr:priority="6"
                        bsqr:order="4">
                    <annotation>
                        <documentation>EAN (European Article Number) kód položky.</documentation>
                    </annotation>
                </element>
            </choice>
            <sequence minOccurs="0">
                <element
                        name="PeriodFromDate"
                        type="date"
                        bsqr:maxLength="8"
                        bsqr:priority="999"
                        bsqr:order="5">
                    <annotation>
                        <documentation>Počiatočný dátum fakturačného obdobia položky.</documentation>
                    </annotation>
                </element>
                <element
                        name="PeriodToDate"
                        type="date"
                        bsqr:maxLength="8"
                        bsqr:priority="999"
                        bsqr:order="6">
                    <annotation>
                        <documentation>Konečný dátum fakturačného obdobia položky.</documentation>
                    </annotation>
                </element>
            </sequence>
            <element
                    name="InvoicedQuantity"
                    type="decimal"
                    bsqr:maxLength="15"
                    bsqr:priority="999"
                    bsqr:order="7">
                <annotation>
                    <documentation>Počet kusov (kvantita) tejto položky.</documentation>
                </annotation>
            </element>
            <element
                    name="UnitPriceTaxExclusiveAmount"
                    type="decimal"
                    bsqr:maxLength="15"
                    bsqr:priority="999"
                    bsqr:order="8">
                <annotation>
                    <documentation>Jednotková cena položky bez DPH v domácej mene. Poznámka: Ak je
                        vyplnená zahraničná mena, čiastka je v zahraničnej mene.</documentation>
                </annotation>
            </element>
            <element
                    name="UnitPriceTaxInclusiveAmount"
                    type="decimal"
                    minOccurs="0"
                    bsqr:computed="true">
                <annotation>
                    <documentation>Jednotková cena položky s DPH v domácej mene. Poznámka: Ak je
                        vyplnená zahraničná mena, čiastka je v zahraničnej mene. Tento údaj sa
                        neukladá do QR kódu, dopočítava sa ako: UnitPriceTaxExclusiveAmount +
                        UnitPriceTaxAmount</documentation>
                </annotation>
            </element>
            <element
                    name="UnitPriceTaxAmount"
                    type="decimal"
                    bsqr:maxLength="15"
                    bsqr:priority="999"
                    bsqr:order="9">
                <annotation>
                    <documentation>Daň z jednotkovej ceny položky v domácej mene. Poznámka: Ak je
                        vyplnená zahraničná mena, čiastka je v zahraničnej mene.</documentation>
                </annotation>
            </element>
            <element
                    name="LineTaxExclusiveAmount"
                    type="decimal"
                    minOccurs="0"
                    bsqr:computed="true">
                <annotation>
                    <documentation>Celková cena riadka (položky). Poznámka: Ak je vyplnená
                        zahraničná mena, čiastka je v zahraničnej mene. Tento údaj sa neukladá do QR
                        kódu, dopočítava sa ako: UnitPriceTaxExclusiveAmount * InvoicedQuantity</documentation>
                </annotation>
            </element>
            <element
                    name="LineTaxInclusiveAmount"
                    type="decimal"
                    minOccurs="0"
                    bsqr:computed="true">
                <annotation>
                    <documentation>Celková cena riadka (položky) s DPH v domácej mene. Poznámka: Ak
                        je vyplnená zahraničná mena, čiastka je v zahraničnej mene. Tento údaj sa
                        neukladá do QR kódu, dopočítava sa ako: UnitPriceTaxInclusiveAmount *
                        InvoicedQuantity</documentation>
                </annotation>
            </element>
            <element
                    name="LineTaxAmount"
                    type="decimal"
                    minOccurs="0"
                    bsqr:computed="true">
                <annotation>
                    <documentation>Daň z celkovej ceny riadka (položky) v domácej mene. Poznámka: Ak
                        je vyplnená zahraničná mena, čiastka je v zahraničnej mene. Tento údaj sa
                        neukladá do QR kódu, dopočítava sa ako: UnitPriceTaxAmount *
                        InvoicedQuantity </documentation>
                </annotation>
            </element>
            <element
                    name="ClassifiedTaxCategory"
                    type="bsqr:Percentage"
                    bsqr:maxLength="15"
                    bsqr:priority="999"
                    bsqr:order="10">
                <annotation>
                    <documentation>Sadzba DPH, do ktorej patrí táto položka, vyjadrená v percentách
                        na intervale 0 až 1. Príklad pre 10% DPH: "0.1".</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="OrderReference">
        <annotation>
            <documentation>Identifikácia objednávky tohto riadka (položky).</documentation>
        </annotation>
        <sequence>
            <element
                    name="OrderID"
                    type="string"
                    minOccurs="0"
                    bsqr:maxLength="10"
                    bsqr:priority="4"
                    bsqr:order="1">
                <annotation>
                    <documentation>Číslo objednávky, na ktorej sa nachádza táto položka. Uvádza sa
                        len v prípade, ak je rôzne od čísla hlavnej objednávky (OrderID) na faktúre.</documentation>
                </annotation>
            </element>
            <element
                    name="OrderLineID"
                    type="string"
                    minOccurs="0"
                    bsqr:maxLength="10"
                    bsqr:priority="3"
                    bsqr:order="2">
                <annotation>
                    <documentation>Identifikácia tohto riadka (položky) na objednávke.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="DeliveryNoteReference">
        <annotation>
            <documentation>Identifikácia dodacieho listu riadka (položky).</documentation>
        </annotation>
        <sequence>
            <element
                    name="DeliveryNoteID"
                    type="string"
                    minOccurs="0"
                    bsqr:maxLength="10"
                    bsqr:priority="2"
                    bsqr:order="1">
                <annotation>
                    <documentation>Číslo dodacieho listu, na ktorom sa nachádza táto položka. Uvádza
                        sa len v prípade, ak je rôzne od čísla hlavného dodacieho listu
                        (DeliveryNoteID) na faktúre.</documentation>
                </annotation>
            </element>
            <element
                    name="DeliveryNoteLineID"
                    type="string"
                    minOccurs="0"
                    bsqr:maxLength="10"
                    bsqr:priority="1"
                    bsqr:order="2">
                <annotation>
                    <documentation>Identifikácia tohto riadka (položky) na dodacom liste.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <!-- INVOICE BY SQUARE -->
    <complexType
            name="InvoiceBase"
            abstract="true">
        <annotation>
            <documentation>Abstraktný rodičovský typ pre všetky by square XML faktúry.</documentation>
        </annotation>
        <complexContent>
            <extension base="bsqr:BySquareDocument">
                <sequence>
                    <element
                            name="InvoiceID"
                            type="string"
                            bsqr:maxLength="10"
                            bsqr:priority="21"
                            bsqr:order="1">
                        <annotation>
                            <documentation>Číslo faktúry, jednoznačne identifikuje faktúru v rámci
                                účtovného systému spoločnosti.</documentation>
                        </annotation>
                    </element>
                    <element
                            name="IssueDate"
                            type="date"
                            bsqr:maxLength="8"
                            bsqr:priority="999"
                            bsqr:order="2">
                        <annotation>
                            <documentation>Dátum vystavenia faktúry.</documentation>
                        </annotation>
                    </element>
                    <element
                            name="TaxPointDate"
                            type="date"
                            minOccurs="0"
                            bsqr:maxLength="8"
                            bsqr:priority="999"
                            bsqr:order="3">
                        <annotation>
                            <documentation>Dátum zdaniteľného plnenia (vzniku daňovej povinnosti),
                                dodania tovaru alebo služby.</documentation>
                        </annotation>
                    </element>
                    <element
                            name="OrderID"
                            type="string"
                            minOccurs="0"
                            bsqr:maxLength="10"
                            bsqr:priority="7"
                            bsqr:order="4">
                        <annotation>
                            <documentation>Číslo objednávky. V prípade, že faktúra nadväzuje na
                                viacero objednávok, uviedie sa číslo primárnej objednávky. Poznámka:
                                V prípade viacerých objednávok sa uvádzajú priamo pri položkách.</documentation>
                        </annotation>
                    </element>
                    <element
                            name="DeliveryNoteID"
                            type="string"
                            minOccurs="0"
                            bsqr:maxLength="10"
                            bsqr:priority="8"
                            bsqr:order="5">
                        <annotation>
                            <documentation>Číslo dodacieho listu. V prípade, že faktúra nadväzuje na
                                viacero dodacích listov, uviedie sa číslo primárneho dodacieho
                                listu. Poznámka: V prípade viacerých dodacích listov sa uvádzajú
                                priamo pri položkách.</documentation>
                        </annotation>
                    </element>
                    <element
                            name="LocalCurrencyCode"
                            type="bsqr:CurrencyCode"
                            bsqr:maxLength="3"
                            bsqr:priority="999"
                            bsqr:order="6">
                        <annotation>
                            <documentation>Domáca mena v ISO 4217 formáte (3 písmená skratka).
                                Príklad: "EUR".</documentation>
                        </annotation>
                    </element>
                    <sequence minOccurs="0">
                        <element
                                name="ForeignCurrencyCode"
                                type="bsqr:CurrencyCode"
                                bsqr:maxLength="3"
                                bsqr:priority="999"
                                bsqr:order="7">
                            <annotation>
                                <documentation>Zahraničná mena v ISO 4217 formáte (3 písmená
                                    skratka). Príklad: "USD". V prípade, že je uvedená zahraničná
                                    mena, všetky čiastky na faktúre sa uvádzajú v zahraničnej mene.</documentation>
                            </annotation>
                        </element>
                        <element
                                name="CurrRate"
                                type="decimal"
                                bsqr:maxLength="15"
                                bsqr:priority="999"
                                bsqr:order="8">
                            <annotation>
                                <documentation>Kurz zahraničnej meny - priama kotácia, vzhľadom na
                                    domácu menu. Jednotka zahraničnej meny = X jednotiek domácej
                                    meny. Na prepočet zo zahraničnej meny na domácu sa použite tento
                                    kurz.</documentation>
                            </annotation>
                        </element>
                        <element
                                name="ReferenceCurrRate"
                                type="decimal"
                                bsqr:maxLength="15"
                                bsqr:priority="999"
                                bsqr:order="9">
                            <annotation>
                                <documentation>Kurz zahraničnej meny - nepriama kotácia, vzhľadom na
                                    domácu menu. Jednotka domácej meny = X jednotiek zahraničnej
                                    meny. Na prepočet z domácej na zahraničnú by mal byť použitý
                                    tento kurz.</documentation>
                            </annotation>
                        </element>
                    </sequence>
                    <element
                            name="SupplierParty"
                            type="bsqr:SupplierParty"
                            bsqr:order="10">
                        <annotation>
                            <documentation>Informácie o dodáveteľovi.</documentation>
                        </annotation>
                    </element>
                    <element
                            name="CustomerParty"
                            type="bsqr:CustomerParty"
                            bsqr:order="11">
                        <annotation>
                            <documentation>Informácie o zákazníkovi.</documentation>
                        </annotation>
                    </element>
                    <choice>
                        <sequence>
                            <element
                                    name="NumberOfInvoiceLines"
                                    type="integer"
                                    bsqr:maxLength="11"
                                    bsqr:priority="999"
                                    bsqr:order="12">
                                <annotation>
                                    <documentation>Počet položiek faktúry. Uvádza sa v prípade viac
                                        položkovej faktúry. Ponecháva sa prázdne v prípade
                                        jedno-položkovej faktúry. Hlavičková faktúra znamená, že sa
                                        neuvádzajú jednotlivé položky faktúry, iba rekapitulácia
                                        fakturovaných údajov. V prípade hlavičkovej faktúry sa
                                        vyplní 0.</documentation>
                                </annotation>
                            </element>
                            <element
                                    name="InvoiceDescription"
                                    type="string"
                                    minOccurs="0"
                                    bsqr:maxLength="30"
                                    bsqr:priority="1"
                                    bsqr:order="13">
                                <annotation>
                                    <documentation>Všeobecný popis faktúry. Uvádza sa v prípade
                                        viacerých položiek, inak musí ostať prázdne.</documentation>
                                </annotation>
                            </element>
                        </sequence>
                        <element
                                name="SingleInvoiceLine"
                                type="bsqr:SingleInvoiceLine"
                                bsqr:order="14">
                            <annotation>
                                <documentation>Detaily pre jednu položku faktúry. Uvádza sa iba v
                                    prípade jedno-položkovej faktúry a nevypĺňa sa v prípade viac
                                    položkovej a hlavičkovej faktúry.</documentation>
                            </annotation>
                        </element>
                    </choice>
                    <element
                            name="TaxCategorySummaries"
                            type="bsqr:TaxCategorySummaries"
                            bsqr:order="15">
                        <annotation>
                            <documentation>Zoznam rekapitulácií jednotlivých daňových sadzieb pre
                                DPH.</documentation>
                        </annotation>
                    </element>
                    <element
                            name="MonetarySummary"
                            type="bsqr:MonetarySummary"
                            bsqr:order="16">
                        <annotation>
                            <documentation>Celková rekapitulácia faktúry. Súčet rekapitulácií
                                všetkých sadzieb DPH.</documentation>
                        </annotation>
                    </element>
                    <element
                            name="PaymentMeans"
                            type="bsqr:PaymentMeans"
                            minOccurs="0"
                            bsqr:maxLength="3"
                            bsqr:priority="999"
                            bsqr:order="17">
                        <annotation>
                            <documentation>Formy úhrady. Nepovinný údaj. V prípade viacerých
                                možností sa uvádza ako zoznam oddelený medzerami. Príklad:
                                "moneyTransfer cash creditCard". moneyTransfer - prevodový príkaz
                                peňazí na bankový účet cash - v hotovosti cashOnDelivery - na
                                dobierku creditCard - kreditnou kartou advance - zálohou
                                mutualOffset - zápočtom other - iná, zatiaľ nedefinovaná forma
                                úhrady</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TaxCategorySummaries">
        <annotation>
            <documentation>Zoznam rekapitulácií jednotlivých daňových sadzieb pre DPH.</documentation>
        </annotation>
        <sequence>
            <annotation>
                <documentation>list of tax category summaries</documentation>
            </annotation>
            <element
                    name="TaxCategorySummary"
                    type="bsqr:TaxCategorySummary"
                    maxOccurs="unbounded"
                    bsqr:order="1">
                <annotation>
                    <documentation>Rekapitulácia konkrétnej daňovej sadzby. Musí byť uvedená
                        rekapitulácia minimálne jednej daňovej sadzby.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="TaxCategorySummary">
        <annotation>
            <documentation>Rekapitulácia konkrétnej daňovej sadzby. Musí byť uvedená rekapitulácia
                minimálne jednej daňovej sadzby.</documentation>
        </annotation>
        <sequence>
            <element
                    name="ClassifiedTaxCategory"
                    type="bsqr:Percentage"
                    bsqr:maxLength="15"
                    bsqr:priority="999"
                    bsqr:order="1">
                <annotation>
                    <documentation>Sadzba DPH vyjadrená v percentách na intervale 0 až 1. Príklad
                        pre 20% DPH: "0.2".</documentation>
                </annotation>
            </element>
            <element
                    name="TaxExclusiveAmount"
                    type="decimal"
                    bsqr:maxLength="15"
                    bsqr:priority="999"
                    bsqr:order="2">
                <annotation>
                    <documentation>Čiastka bez DPH v tejto daňovej sadzbe v domácej mene. Poznámka:
                        Ak je vyplnená zahraničná mena, čiastka je v zahraničnej mene.</documentation>
                </annotation>
            </element>
            <element
                    name="TaxInclusiveAmount"
                    type="decimal"
                    minOccurs="0"
                    bsqr:computed="true">
                <annotation>
                    <documentation>Čiastka s DPH v tejto daňovej sadzbe v domácej mene. Poznámka: Ak
                        je vyplnená zahraničná mena, čiastka je v zahraničnej mene. Tento údaj sa
                        neukladá do QR kódu, dopočítava sa ako: TaxExclusiveAmount + TaxAmount</documentation>
                </annotation>
            </element>
            <element
                    name="TaxAmount"
                    type="decimal"
                    bsqr:maxLength="15"
                    bsqr:priority="999"
                    bsqr:order="3">
                <annotation>
                    <documentation>Čiastka DPH v tejto daňovej sadzbe v domácej mene. Poznámka: Ak
                        je vyplnená zahraničná mena, čiastka je v zahraničnej mene.</documentation>
                </annotation>
            </element>
            <element
                    name="AlreadyClaimedTaxExclusiveAmount"
                    type="decimal"
                    bsqr:maxLength="15"
                    bsqr:priority="999"
                    bsqr:order="4">
                <annotation>
                    <documentation>Uhradené zálohy bez DPH v tejto daňovej sadzbe v domácej mene.
                        Poznámka: Ak je vyplnená zahraničná mena, čiastka je v zahraničnej mene.</documentation>
                </annotation>
            </element>
            <element
                    name="AlreadyClaimedTaxInclusiveAmount"
                    type="decimal"
                    minOccurs="0"
                    bsqr:computed="true">
                <annotation>
                    <documentation>Uhradené zálohy s DPH v tejto daňovej sadzbe v domácej mene.
                        Poznámka: Ak je vyplnená zahraničná mena, čiastka je v zahraničnej mene.
                        Tento údaj sa neukladá do QR kódu, dopočítava sa ako:
                        AlreadyClaimedTaxExclusiveAmount + AlreadyClaimedTaxAmount</documentation>
                </annotation>
            </element>
            <element
                    name="AlreadyClaimedTaxAmount"
                    type="decimal"
                    bsqr:maxLength="15"
                    bsqr:priority="999"
                    bsqr:order="5">
                <annotation>
                    <documentation>DPH z uhradených záloh v tejto daňovej sadzbe v domácej mene.
                        Poznámka: Ak je vyplnená zahraničná mena, čiastka je v zahraničnej mene.</documentation>
                </annotation>
            </element>
            <element
                    name="DifferenceTaxExclusiveAmount"
                    type="decimal"
                    minOccurs="0"
                    bsqr:computed="true">
                <annotation>
                    <documentation>Rozdiel medzi čiastkou bez DPH a uhradenými zálohami bez DPH v
                        tejto daňovej sadzbe v domácej mene. Poznámka: Ak je vyplnená zahraničná
                        mena, čiastka je v zahraničnej mene. Tento údaj sa neukladá do QR kódu,
                        dopočítava sa ako:</documentation>
                </annotation>
            </element>
            <element
                    name="DifferenceTaxInclusiveAmount"
                    type="decimal"
                    minOccurs="0"
                    bsqr:computed="true">
                <annotation>
                    <documentation>Rozdiel medzi čiastkou s DPH a uhradenými zálohami s DPH v tejto
                        daňovej sadzbe v domácej mene. Poznámka: Ak je vyplnená zahraničná mena,
                        čiastka je v zahraničnej mene. Tento údaj sa neukladá do QR kódu, dopočítava
                        sa ako: TaxInclusiveAmount - AlreadyClaimedTaxInclusiveAmount</documentation>
                </annotation>
            </element>
            <element
                    name="DifferenceTaxAmount"
                    type="decimal"
                    minOccurs="0"
                    bsqr:computed="true">
                <annotation>
                    <documentation>Rozdiel čiastok DPH medzi fakturovanou DPH a už odpočítanou DPH v
                        tejto daňovej sadzbe v domácej mene. Poznámka: Ak je vyplnená zahraničná
                        mena, čiastka je v zahraničnej mene. Tento údaj sa neukladá do QR kódu,
                        dopočítava sa ako: TaxAmount - AlreadyClaimedTaxAmount</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType
            name="Party"
            abstract="true">
        <annotation>
            <documentation>Abstraktný rodičovský typ pre všetky zúčastnené strany. Fyzické aj
                právnické osoby, odberateľ aj zákazník.</documentation>
        </annotation>
        <sequence>
            <element
                    name="PartyName"
                    type="string"
                    bsqr:maxLength="20"
                    bsqr:priority="17"
                    bsqr:order="1">
                <annotation>
                    <documentation>Názov spoločnosti v prípade právnickej ososby. Meno a priezvisko
                        v prípade fyzickej osoby.</documentation>
                </annotation>
            </element>
            <element
                    name="CompanyTaxID"
                    type="string"
                    minOccurs="0"
                    bsqr:maxLength="12"
                    bsqr:priority="20"
                    bsqr:order="2">
                <annotation>
                    <documentation>DIČ: Daňové identifikačné číslo.</documentation>
                </annotation>
            </element>
            <element
                    name="CompanyVATID"
                    type="string"
                    minOccurs="0"
                    bsqr:maxLength="14"
                    bsqr:priority="19"
                    bsqr:order="3">
                <annotation>
                    <documentation>IČ-DPH: Identifikačné číslo pre daň z pridanej hodnoty.</documentation>
                </annotation>
            </element>
            <element
                    name="CompanyRegisterID"
                    type="string"
                    minOccurs="0"
                    bsqr:maxLength="14"
                    bsqr:priority="18"
                    bsqr:order="4">
                <annotation>
                    <documentation>IČO: Identifikačné číslo organizácie.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="SupplierParty">
        <annotation>
            <documentation>Informácie o dodáveteľovi.</documentation>
        </annotation>
        <complexContent>
            <extension
                    base="bsqr:Party"
                    bsqr:order="1">
                <sequence>
                    <element
                            name="PostalAddress"
                            type="bsqr:PostalAddress"
                            bsqr:order="2">
                        <annotation>
                            <documentation>Poštová adresa sídla dodávateľa.</documentation>
                        </annotation>
                    </element>
                    <element
                            name="Contact"
                            type="bsqr:Contact"
                            minOccurs="0"
                            bsqr:order="3">
                        <annotation>
                            <documentation>Kontaktné informácie dodávateľa.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="CustomerParty">
        <annotation>
            <documentation>Informácie o zákazníkovi.</documentation>
        </annotation>
        <complexContent>
            <extension
                    base="bsqr:Party"
                    bsqr:order="1">
                <sequence>
                    <element
                            name="PartyIdentification"
                            type="string"
                            minOccurs="0"
                            bsqr:maxLength="20"
                            bsqr:priority="16"
                            bsqr:order="2">
                        <annotation>
                            <documentation>Identifikátor odberateľa v účtovnom systéme dodávateľa.
                                Slúži pre účely intérneho spracovania.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="PostalAddress">
        <annotation>
            <documentation>Poštová adresa.</documentation>
        </annotation>
        <sequence>
            <element
                    name="StreetName"
                    type="string"
                    bsqr:maxLength="20"
                    bsqr:priority="12"
                    bsqr:order="1">
                <annotation>
                    <documentation>Názov ulice.</documentation>
                </annotation>
            </element>
            <element
                    name="BuildingNumber"
                    type="string"
                    minOccurs="0"
                    bsqr:maxLength="3"
                    bsqr:priority="11"
                    bsqr:order="2">
                <annotation>
                    <documentation>Orientačné číslo budovy.</documentation>
                </annotation>
            </element>
            <element
                    name="CityName"
                    type="string"
                    bsqr:maxLength="20"
                    bsqr:priority="10"
                    bsqr:order="3">
                <annotation>
                    <documentation>Mesto (okres).</documentation>
                </annotation>
            </element>
            <element
                    name="PostalZone"
                    type="string"
                    bsqr:maxLength="10"
                    bsqr:priority="9"
                    bsqr:order="4">
                <annotation>
                    <documentation>PSČ: Poštové smerovacie číslo.</documentation>
                </annotation>
            </element>
            <element
                    name="State"
                    type="string"
                    minOccurs="0"
                    bsqr:maxLength="10"
                    bsqr:priority="6"
                    bsqr:order="5">
                <annotation>
                    <documentation>Štát v rámci federácie. Neuvádza sa pre Slovenskú republiku.</documentation>
                </annotation>
            </element>
            <element
                    name="Country"
                    type="bsqr:CountryCode"
                    bsqr:maxLength="3"
                    bsqr:priority="999"
                    bsqr:order="6">
                <annotation>
                    <documentation>Krajina v ISO 3166 formáte (3 písmená skratka). Príklad: "SVK".</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="Contact">
        <annotation>
            <documentation>Kontaktné informácie.</documentation>
        </annotation>
        <sequence>
            <element
                    name="Name"
                    type="string"
                    minOccurs="0"
                    bsqr:maxLength="20"
                    bsqr:priority="13"
                    bsqr:order="1">
                <annotation>
                    <documentation>Meno kontaktnej osoby (ak je iné ako PartyName). Názov
                        kontaktného oddelenia, napríklad "Zákaznícka linka".</documentation>
                </annotation>
            </element>
            <element
                    name="Telephone"
                    type="string"
                    minOccurs="0"
                    bsqr:maxLength="12"
                    bsqr:priority="14"
                    bsqr:order="2">
                <annotation>
                    <documentation>Telefónne číslo. Odporúča sa uvádzať s medzinárodnou predvoľbou,
                        príklad "+421900900900".</documentation>
                </annotation>
            </element>
            <element
                    name="EMail"
                    type="string"
                    minOccurs="0"
                    bsqr:maxLength="40"
                    bsqr:priority="15"
                    bsqr:order="3">
                <annotation>
                    <documentation>Emailová adresa.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="SingleInvoiceLine">
        <annotation>
            <documentation>Detaily pre jednu položku faktúry.</documentation>
        </annotation>
        <sequence>
            <element
                    name="OrderLineID"
                    type="string"
                    minOccurs="0"
                    bsqr:maxLength="10"
                    bsqr:priority="5"
                    bsqr:order="1">
                <annotation>
                    <documentation>Číslo objednávky pre 1 položku faktúry. Uvádza sa len v prípade,
                        ak je rôzne od čísla hlavnej objednávky na faktúre.</documentation>
                </annotation>
            </element>
            <element
                    name="DeliveryNoteLineID"
                    type="string"
                    minOccurs="0"
                    bsqr:maxLength="10"
                    bsqr:priority="4"
                    bsqr:order="2">
                <annotation>
                    <documentation>Číslo dodacieho listu pre 1 položku faktúry. Uvádza sa len v
                        prípade, ak je rôzne od čísla hlavného dodacieho listu na faktúre.</documentation>
                </annotation>
            </element>
            <choice>
                <element
                        name="ItemName"
                        type="string"
                        bsqr:maxLength="30"
                        bsqr:priority="2"
                        bsqr:order="3">
                    <annotation>
                        <documentation>Názov a popis položky. Môže slúžiť aj na uloženie
                            štruktúrovanej informácie o položke.</documentation>
                    </annotation>
                </element>
                <element
                        name="ItemEANCode"
                        type="string"
                        bsqr:maxLength="30"
                        bsqr:priority="3"
                        bsqr:order="4">
                    <annotation>
                        <documentation>EAN (European Article Number) kód položky.</documentation>
                    </annotation>
                </element>
            </choice>
            <sequence minOccurs="0">
                <element
                        name="PeriodFromDate"
                        type="date"
                        bsqr:maxLength="8"
                        bsqr:priority="999"
                        bsqr:order="5">
                    <annotation>
                        <documentation>Počiatočný dátum fakturačného obdobia položky.</documentation>
                    </annotation>
                </element>
                <element
                        name="PeriodToDate"
                        type="date"
                        bsqr:maxLength="8"
                        bsqr:priority="999"
                        bsqr:order="6">
                    <annotation>
                        <documentation>Konečný dátum fakturačného obdobia položky.</documentation>
                    </annotation>
                </element>
            </sequence>
            <element
                    name="InvoicedQuantity"
                    type="decimal"
                    bsqr:maxLength="15"
                    bsqr:priority="999"
                    bsqr:order="7">
                <annotation>
                    <documentation>Počet kusov (kvantita) tejto položky.</documentation>
                </annotation>
            </element>
            <element
                    name="UnitPriceTaxExclusiveAmount"
                    type="decimal"
                    minOccurs="0"
                    bsqr:computed="true">
                <annotation>
                    <documentation>Jednotková cena položky bez DPH v domácej mene. Poznámka: Ak je
                        vyplnená zahraničná mena, čiastka je v zahraničnej mene. Tento údaj sa
                        neukladá do QR kódu, dopočítava sa ako: MonetarySummary->TaxExclusiveAmount
                        / InvoicedQuantity</documentation>
                </annotation>
            </element>
            <element
                    name="UnitPriceTaxInclusiveAmount"
                    type="decimal"
                    minOccurs="0"
                    bsqr:computed="true">
                <annotation>
                    <documentation>Jednotková cena položky s DPH v domácej mene. Poznámka: Ak je
                        vyplnená zahraničná mena, čiastka je v zahraničnej mene. Tento údaj sa
                        neukladá do QR kódu, dopočítava sa ako: MonetarySummary->TaxInclusiveAmount
                        / InvoicedQuantity</documentation>
                </annotation>
            </element>
            <element
                    name="UnitPriceTaxAmount"
                    type="decimal"
                    minOccurs="0"
                    bsqr:computed="true">
                <annotation>
                    <documentation>Daň z jednotkovej ceny položky v domácej mene. Poznámka: Ak je
                        vyplnená zahraničná mena, čiastka je v zahraničnej mene. Tento údaj sa
                        neukladá do QR kódu, dopočítava sa ako: MonetarySummary->TaxAmount /
                        InvoicedQuantity</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="MonetarySummary">
        <annotation>
            <documentation>Celková rekapitulácia faktúry. Súčet rekapitulácií všetkých sadzieb DPH.</documentation>
        </annotation>
        <sequence>
            <element
                    name="TaxExclusiveAmount"
                    type="decimal"
                    minOccurs="0"
                    bsqr:computed="true"
                    bsqr:order="1">
                <annotation>
                    <documentation>Čiastka bez DPH celej faktúru v domácej mene. Poznámka: Ak je
                        vyplnená zahraničná mena, čiastka je v zahraničnej mene. Tento údaj sa
                        neukladá do QR kódu, dopočítava sa ako: Súčet jednotlivých polí
                        TaxExclusiveAmount vo všetkých TaxCategorySummaries.</documentation>
                </annotation>
            </element>
            <element
                    name="TaxInclusiveAmount"
                    type="decimal"
                    minOccurs="0"
                    bsqr:computed="true">
                <annotation>
                    <documentation>Čiastka s DPH celej faktúru v domácej mene. Poznámka: Ak je
                        vyplnená zahraničná mena, čiastka je v zahraničnej mene. Tento údaj sa
                        neukladá do QR kódu, dopočítava sa ako: Súčet jednotlivých polí
                        TaxExclusiveAmount vo všetkých TaxCategorySummaries.</documentation>
                </annotation>
            </element>
            <element
                    name="TaxAmount"
                    type="decimal"
                    minOccurs="0"
                    bsqr:computed="true"
                    bsqr:order="2">
                <annotation>
                    <documentation>Čiastka DPH celej faktúru v domácej mene. Poznámka: Ak je
                        vyplnená zahraničná mena, čiastka je v zahraničnej mene. Tento údaj sa
                        neukladá do QR kódu, dopočítava sa ako: Súčet jednotlivých polí
                        TaxExclusiveAmount vo všetkých TaxCategorySummaries.</documentation>
                </annotation>
            </element>
            <element
                    name="AlreadyClaimedTaxExclusiveAmount"
                    type="decimal"
                    minOccurs="0"
                    bsqr:computed="true"
                    bsqr:order="3">
                <annotation>
                    <documentation>Uhradené zálohy bez DPH celej faktúru v domácej mene. Poznámka:
                        Ak je vyplnená zahraničná mena, čiastka je v zahraničnej mene. Tento údaj sa
                        neukladá do QR kódu, dopočítava sa ako: Súčet jednotlivých polí
                        TaxExclusiveAmount vo všetkých TaxCategorySummaries.</documentation>
                </annotation>
            </element>
            <element
                    name="AlreadyClaimedTaxInclusiveAmount"
                    type="decimal"
                    minOccurs="0"
                    bsqr:computed="true">
                <annotation>
                    <documentation>Uhradené zálohy s DPH celej faktúru v domácej mene. Poznámka: Ak
                        je vyplnená zahraničná mena, čiastka je v zahraničnej mene. Tento údaj sa
                        neukladá do QR kódu, dopočítava sa ako: Súčet jednotlivých polí
                        TaxExclusiveAmount vo všetkých TaxCategorySummaries.</documentation>
                </annotation>
            </element>
            <element
                    name="AlreadyClaimedTaxAmount"
                    type="decimal"
                    minOccurs="0"
                    bsqr:computed="true"
                    bsqr:order="4">
                <annotation>
                    <documentation>DPH z uhradených záloh celej faktúru v domácej mene. Poznámka: Ak
                        je vyplnená zahraničná mena, čiastka je v zahraničnej mene. Tento údaj sa
                        neukladá do QR kódu, dopočítava sa ako: Súčet jednotlivých polí
                        TaxExclusiveAmount vo všetkých TaxCategorySummaries.</documentation>
                </annotation>
            </element>
            <element
                    name="DifferenceTaxExclusiveAmount"
                    type="decimal"
                    minOccurs="0"
                    bsqr:computed="true">
                <annotation>
                    <documentation>Rozdiel medzi čiastkou bez DPH a uhradenými zálohami bez DPH
                        celej faktúru v domácej mene. Poznámka: Ak je vyplnená zahraničná mena,
                        čiastka je v zahraničnej mene. Tento údaj sa neukladá do QR kódu, dopočítava
                        sa ako: Súčet jednotlivých polí TaxExclusiveAmount vo všetkých
                        TaxCategorySummaries.</documentation>
                </annotation>
            </element>
            <element
                    name="DifferenceTaxInclusiveAmount"
                    type="decimal"
                    minOccurs="0"
                    bsqr:computed="true">
                <annotation>
                    <documentation>Rozdiel medzi čiastkou s DPH a uhradenými zálohami s DPH celej
                        faktúru v domácej mene. Poznámka: Ak je vyplnená zahraničná mena, čiastka je
                        v zahraničnej mene. Tento údaj sa neukladá do QR kódu, dopočítava sa ako:
                        Súčet jednotlivých polí TaxExclusiveAmount vo všetkých TaxCategorySummaries.</documentation>
                </annotation>
            </element>
            <element
                    name="DifferenceTaxAmount"
                    type="decimal"
                    minOccurs="0"
                    bsqr:computed="true">
                <annotation>
                    <documentation>Rozdiel čiastok DPH medzi fakturovanou DPH a už odpočítanou DPH
                        celej faktúru v domácej mene. Poznámka: Ak je vyplnená zahraničná mena,
                        čiastka je v zahraničnej mene. Tento údaj sa neukladá do QR kódu, dopočítava
                        sa ako: Súčet jednotlivých polí TaxExclusiveAmount vo všetkých
                        TaxCategorySummaries.</documentation>
                </annotation>
            </element>
            <element
                    name="PayableRoundingAmount"
                    type="decimal"
                    bsqr:maxLength="15"
                    bsqr:priority="999"
                    bsqr:order="5">
                <annotation>
                    <documentation>Zaokrúhlenie celkovej sumy v domácej mene. Pripočítava sa k
                        celkovej sume. Toto pole je možné použiť aj na kompenzáciu zaokrúhľovacích
                        chýb spôsobených kalkuláciou na reálnych číslach v účtovných sýstémoch.
                        Poznámka: Ak je vyplnená zahraničná mena, čiastka je v zahraničnej mene.
                        Príklady: Ak je potrebné čiastku "9.98" zaokrúhliť na "10", uvádza sa
                        hodnota "0.02". Ak je potrebné čiastku "10.07" zaokrúhliť na "10.05", uvádza
                        sa hodnota "-0.02".</documentation>
                </annotation>
            </element>
            <element
                    name="PaidDepositsAmount"
                    type="decimal"
                    bsqr:maxLength="15"
                    bsqr:priority="999"
                    bsqr:order="6">
                <annotation>
                    <documentation>Zaplatené nezdanené zálohy v domácej menej. Uvádza sa ako kladné
                        číslo. Poznámka: Ak je vyplnená zahraničná mena, čiastka je v zahraničnej
                        mene.</documentation>
                </annotation>
            </element>
            <element
                    name="PayableAmount"
                    type="decimal"
                    minOccurs="0"
                    bsqr:computed="true">
                <annotation>
                    <documentation>Suma na úhradu v domácej mene. Uvádza sa ako čiastka na
                        zaplatenie do PAY by square kódu. Poznámka: Ak je vyplnená zahraničná mena,
                        čiastka je v zahraničnej mene. Tento údaj sa neukladá do QR kódu, dopočítava
                        sa ako: DifferenceTaxInclusiveAmount - PaidDepositsAmount +
                        PayableRoundingAmount</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
</schema>